In [21]:
import pandas as pd
import joblib
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler

In [12]:
joblib.load('old_X_train_reg.pkl')

          CO   NO2   SO2     O3  PM2.5  PM10
50936  127.0  11.3   9.7  114.0   14.1  15.0
33244  164.0  22.8   1.9   38.0   11.6  16.1
7145   151.0   1.2   0.7  100.0    4.6   4.8
11730  257.0  30.9  35.7   77.0   15.1  20.4
24257  572.0  54.0  36.5   98.0   52.5  77.1
...      ...   ...   ...    ...    ...   ...
40124  266.0  15.4   5.2  148.0   27.9  28.8
16423  350.0  39.8  48.7   38.0   13.7  20.9
28293  216.0  56.6   7.5    7.0   14.7  18.2
12657  213.0  23.6  94.7  120.0   31.3  46.4
24469  327.0  40.4  22.5   78.0   36.0  83.6

[44676 rows x 6 columns]

In [13]:
joblib.load('old_y_train_reg.pkl')

50936    49.333336
33244    27.400000
7145     40.000000
11730    49.783325
24257    75.700000
           ...
40124    63.272728
16423    26.166664
28293    63.760000
12657    57.033348
24469    73.931660
Name: AQI, Length: 44676, dtype: float64

In [14]:
joblib.load('X_test_reg.pkl')

          CO   NO2   SO2    O3  PM2.5   PM10
27618  217.0  52.4   3.8  40.0    7.7   11.6
5910   104.0   2.5   0.8  55.0    5.0    5.7
49883  104.0  17.6   3.0  47.0    7.1    8.5
23784  365.0  47.1  18.9  52.0   46.4   67.5
22798  129.0  45.5  21.6  46.0   50.4  127.6
...      ...   ...   ...   ...    ...    ...
42809  371.0  31.6  12.7  39.0    9.6    9.8
16396  163.0  15.0  15.2  59.0    8.8   19.7
4403   156.0   4.6   1.4  66.0    2.5    2.6
5702   128.0   1.6   0.8  79.0    3.6    3.9
16004  302.0  45.4  47.6  36.0   18.0   33.3

[5913 rows x 6 columns]

In [20]:
joblib.load('y_test_reg.pkl')

39671    29.225004
50602    17.600000
13073    51.233337
18133    65.320000
45296    20.400000
           ...
19186    80.838330
39090    42.000000
29174    65.176670
7345     31.599998
34622    20.800000
Name: AQI, Length: 5913, dtype: float64

In [16]:
df = pd.read_csv('Air_Quality.csv')

In [17]:
X = df.drop(['Date', 'City', 'AQI'], axis=1)
y = df['AQI']

In [25]:
X_train, X_val , y_train, y_val = train_test_split(X, y, test_size=0.15)

X_test, X_ft , y_test, y_ft = train_test_split(X_val, y_val, test_size=0.25)

In [26]:
scaler = StandardScaler()

X_train = pd.DataFrame(scaler.fit_transform(X_train), columns=X_train.columns)
X_test = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns)
X_ft = pd.DataFrame(scaler.transform(X_ft), columns=X_ft.columns)

In [27]:
X_train

             CO       NO2       SO2        O3     PM2.5      PM10
0     -0.532719 -0.782912 -0.566942  0.703681 -0.800304 -0.547934
1     -0.703000 -0.596479 -0.595106 -0.696383 -0.754922 -0.493744
2     -0.573586 -0.990059 -0.546825 -0.182074 -0.696573 -0.577739
3     -0.791546 -0.725946 -0.591083 -0.296365 -0.800304 -0.499163
4      0.018991  0.931233  0.306132  1.389426  3.212808  2.337683
...         ...       ...       ...       ...       ...       ...
44671 -0.335193 -0.228793 -0.321516 -0.439229 -0.443727 -0.491035
44672 -0.212591 -0.990059 -0.558896  0.560817 -0.832721 -0.642767
44673  0.018991 -0.964166 -0.574989  0.875117 -0.670640 -0.577739
44674 -0.784735 -0.580943  0.213594 -0.467801  0.237011  0.487095
44675 -0.437362 -0.461834 -0.490498  0.103653 -0.929969 -0.694248

[44676 rows x 6 columns]

In [28]:
joblib.dump(X_train, 'old_X_train_reg.pkl')
joblib.dump(y_train, 'old_y_train_reg.pkl')
joblib.dump(X_test, 'X_test_reg.pkl')
joblib.dump(y_test, 'y_test_reg.pkl')

['y_test_reg.pkl']

In [31]:
y_ft

23384    97.811670
15716    36.558323
30291    16.000000
44357    25.200000
27405    34.183334
           ...
10584    74.296660
23040    91.801670
23689    97.476660
50676    37.200000
44698    18.683334
Name: AQI, Length: 1971, dtype: float64

In [32]:
X_ft['AQI'] = y_ft.tolist()

In [33]:
X_ft.to_csv('data2ft.csv', index=False)

X_ft.head()

         CO       NO2       SO2        O3     PM2.5      PM10        AQI
0  2.464223  1.091772  0.837219  1.960881  4.016727  4.575730  97.811670
1 -0.253458  0.687835  1.155066  0.017935 -0.074184 -0.182152  36.558323
2 -0.376061 -0.415225 -0.562919 -0.696383 -0.365929 -0.358269  16.000000
3 -1.091240 -1.186849 -0.574989 -0.039210 -0.793821 -0.583158  25.200000
4 -0.110423  0.863910 -0.458311 -0.753529 -0.164949 -0.249889  34.183334